<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.goodpeople.gooddeeds">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <activity android:name=".view.MarketActivity"
         />
        <activity android:name=".view.MyActiveDeeds"/>

        <activity android:name=".view.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".view.account.CreateAccount" />
        <activity android:name=".view.account.Login" />
        <activity android:name=".view.account.AccountDetails" />
        <activity android:name=".view.account.EditAccount" />
        <activity android:name=".view.account.EditAccountPassword" />
        <activity android:name=".view.CreateOffer" />
        <activity android:name=".view.EditOffer" />
        <activity android:name=".view.account.AccountOptions"/>
        <activity android:name=".view.ViewDeed"/>
        <activity android:name=".view.NoAccess"/>

    </application>

</manifest>